*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;

  /* Primary Brand Colors */
  --color-primary: #2563eb;
  --color-primary-hover: #f182e8;
  --color-secondary: #64748b;
  --color-accent: #f97316;

  /* Background Colors */
  --color-bg-main: #ffffff;
  --color-bg-soft: #f8fafc;
  --color-bg-muted: #f1f5f9;
  --colrkor-bg-da: #0f172a;
  --color-bg-light-dark: #313338;

  /* Text Colors */
  --color-text-main: #0f172a;
  --color-text-muted: #64748b;
  --color-text-light: #94a3b8;
  --color-text-white: #ffffff;
  --color-text-pink: #6712f0;

  /* Border Colors */
  --color-border-main: #e2e8f0;
  --color-border-dark: #cbd5e1;

  /* Status Colors */
  --color-success: #22c55e;
  --color-warning: #facc15;
  --color-error: #ef4444;
  --color-info: #38bdf8;

  /* Button Colors */
  --btn-primary-bg: var(--color-primary);
  --btn-primary-text: #ffffff;
  --btn-secondary-bg: #e2e8f0;
  --btn-secondary-text: #0f172a;

  /* Link Colors */
  --link-color: #7e9399;
  --link-hover: #1d4ed8;

  /* Shadow Colors */
  --shadow-light: rgba(0,0,0,0.08);
  --shadow-medium: rgba(0,0,0,0.15);

  /* Overlay */
  --overlay-dark: rgba(15, 23, 42, 0.6);

  /* border-bottom: 2px solid var(--primary-bg-color); */
}
body,html {
    width: 100%;
    height: 1500px;
    padding: 5px;
}
.maincontainer{
    width: 100%;
    height: auto;
    position: absolute;
    /* border: 1px solid red; */
    background-color: var(--link-color);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap:5px;
}
.add-section{
    height: 100px;
    grid-column: 1 / 13;
    /* border: 1px solid var(--color-secondary); */
    background-color: var(--color-bg-soft);
}
.title-section{
    height: 100px;
    grid-column: 1 / 13;
    /* border: 1px solid var(--color-secondary); */
    background-color: #11a5af;
}
.title-name{
    min-height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #4b11e0;
    font-size: 60px;
    font-weight: bold;
}

.horizontal-bar{
    grid-column: 1 / 13;
    /* border: 1px solid rgb(7, 7, 7); */
}
/* Start top-container-first  */
.top-container-first{
    height: auto;
    grid-column: 2 / 12;
    /* border: 5px solid var(--color-secondary); */
    background-color: #fafafa;
    /* background-image: url("/image/inage_21.jpg"); */
    width: 100%;
    height: 100vh;
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-position: center center; */ */
    position: relative;
    /* z-index: -1; */
}

/* End top-container-first  */

/* Start top-container-second  */
.top-container-second{
    height: auto;
    display: grid;
    grid-column: 2 / 12;
    gap:5px;
    /* border: 1px solid var(--color-secondary); */
    background-color:var(--color-bg-main);
}
.left-element-under-top-container-second{
    height: auto;
    grid-column: 1 / 2;
    position: relative;
}
.left-element-under-top-container-second img{
    max-width: 100%;
    height: auto;
    padding: 3px;
}

/* button section */
.btn-primary{
    bottom: 10px;
    right: 10px;
    position: absolute;
}
.btn-danger{
    left: 10px;
    bottom: 10px;
    position: absolute;
}
/* End button section */
.right-element-under-top-container-second{
    height: auto;
    border-left: 2px solid #9a9ea3;
    padding-left: 5px;
    grid-column: 2 / 2;
    position: relative;
    
}
.right-element-under-top-container-second img{
    max-width: 100%;
    height: auto;
    padding: 3px;
}
/* End top-container-second  */

/* Start top-container-third  */
.top-container-third{
    height:auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    grid-column: 2 / 12;
    gap: 5px;
    /* border: 1px solid rgb(255, 81, 0); */
}
.left-element-under-top-container-thired{
    width: 69%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    column-gap: 3px;
    row-gap: 3px;
    /* grid-column: 1 / 8; */
    /* border: 1px solid rgb(0, 255, 42); */
}
.row-1-under-left-element-under-top-container-thired{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 5px;
    row-gap: 5px;
    /* border: 1px solid rgb(0, 17, 255); */
}
.element01-under-left-element-under-top-container-thired{
    width: 73.5%;
    height: 150px;
    /* border: 1px solid blue; */
    background-color: var(--color-bg-light-dark);
}
.element02-under-left-element-under-top-container-thired{
    width: 24%;
    height: 150px;
    /* border: 1px solid blue; */
    background-color: var(--color-bg-light-dark);
}

.element03-under-left-element-under-top-container-thired{
    width: 24%;
    height: 150px;
    /* border: 1px solid blue; */
    background-color: var(--color-bg-light-dark);
}
.element04-under-left-element-under-top-container-thired{
    width: 24%;
    height: 150px;
    /* border: 1px solid blue; */
    background-color: var(--color-bg-light-dark);
}
.element05-under-left-element-under-top-container-thired{
    width: 24%;
    height: 150px;
    /* border: 1px solid blue; */
    background-color: var(--color-bg-light-dark);
}
.element06-under-left-element-under-top-container-thired{
    width: 24%;
    height: 150px;
    /* border: 1px solid blue; */
    background-color: var(--color-bg-light-dark);
}
.right-element-under-top-container-thired{
    width: 30%;
    height: auto;
    column-gap: 3px;
    row-gap: 3px;
    /* border: 1px solid rgb(0, 255, 42); */
}
#element-left{
    /* width: 100px;
    height: 100px; */
    border: 1px solid rgb(25, 0, 255);
    margin: 5px 0px 5px 0px;
}
#element-right{
    width: auto;
    height: 100px;
    /* border: 1px solid blue; */
    background-color: var(--color-bg-light-dark);
    margin: 5px 0px 5px 0px;
}
/* End top-container-third  */

/* Start footer  */
.footer{
    height: auto;
    grid-column: 1/ 13;
    /* border: 1px solid var(--color-secondary); */
    background-color:var(--color-bg-light-dark);
}
.footer-top-section01{
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* border: 1px solid var(--color-border-main); */
}
#footer-top-section01-column{
    width: 20%;
    height: 400px;
    margin: 0px 20px 0px 20px;
    padding: 25px 0px 20px 0px;
    /* border: 1px solid var(--color-border-main); */
}
#footer-top-section01-column ul{
    list-style: none;
    justify-self: center;
    
}
#footer-top-section01-column ul li{
    margin-top: 10px;
    margin-bottom: 10px;    
}
#footer-top-section01-column ul li a{
    color: var(--color-text-white);
    font-size: 18px;
    /* padding-top: 10px; */
    text-decoration: none;
    
}
#footer-top-section01-column ul li a:hover{
    background-color: #e2e8f0;
    color: #0f172a;
    
}
.horizontal-bar-bottom{
    /* grid-column: 1 / 13; */
    border: 1px solid rgb(252, 249, 249);   
}
/* End footer bottom  */

/* Start footer bottom */
.footer-bottom{
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    /* border: 1px solid var(--color-border-main); */
}
.footer-bottom-section01{
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    /* border: 1px solid var(--color-border-main); */
}
#footer-bottom-section01-column{
    width: 20%;
    height: auto;
    margin: 0px 20px 0px 20px;
    padding: 25px 0px 20px 0px;
    /* border: 1px solid var(--color-border-main); */
}
#footer-bottom-section01-column h3{
    Color: var(--btn-primary-text);
    text-decoration: underline;
}
#footer-bottom-section01-column ul{
    list-style: none;
    justify-self: center;
    
}
#footer-bottom-section01-column ul li{
    margin-top: 10px;
    margin-bottom: 10px;    
}
#footer-bottom-section01-column ul li a{
    color: var(--color-text-white);
    font-size: 18px;
    /* padding-top: 10px; */
    text-decoration: none;
    
}
#footer-bottom-section01-column ul li a:hover{
    /* text-decoration: 3px underline red; */
    background-color: #398af3;
    color: #0f172a;
    transition-duration: 0.5s;
    
}
#footer-bottom-section01-column02{
    width: 20%;
    padding-top: 80px;
    /* border: 1px solid var(--color-border-main); */
}
span{
    color: rgb(248, 246, 246);
    font-size: 18px;
    font-weight: bold;
    
}
.address{
    color: rgb(248, 246, 246);
    top: 30px;
}
.fa-brands{
    margin-right: 5px;
}
/* End footer bottom */